@font-face {
  font-family: 'Frontleroy Brown NF Regular';
  src: url('fonts/fontleroybrown.regular.ttf');
}

@font-face {
  font-family: 'roboto regular';
  src: url('fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'roboto thin';
  src: url('fonts/Roboto-Thin.ttf');
}

:root {
  --dark-color: #344A53;
  --medium-color: #7EB3C7;
  --light-color: #C1D7E0;
  font-family: 'roboto bold';
}

main {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 20px;
}
main h1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 28px;
  color: var(--dark-color);
  font-weight: 600;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 40px;
  margin-top: 100px;
  background-color: var(--light-color);
  border-radius: 94% 6% 91% 9% / 5% 90% 10% 95% ;
  padding: 20px;
  border-bottom: 8px solid var(--medium-color);
  border-right: 8px solid var(--medium-color);
  text-align: center;
  font-family: 'roboto thin';
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-color);
  padding: 5px;
  border-radius:15px 50px;
  border-bottom: 8px solid var(--medium-color);
  border-right: 8px solid var(--medium-color);
  width: auto;
  margin: 15px;
  
}

header img {
  max-height: 7vh;
  width: auto;
  margin: 8px;
  margin-left: 7vh;
}

header nav {
  margin-right: 7vh;
}

header ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 6vh;
}

nav ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  color:var(--dark-color);
  transition: color 0.3s ease;
}

nav ul li a:visited {
  color: var(--dark-color);
}

nav ul li a:hover {
  color: var(--medium-color);
}

nav ul li a img {
  height: 1em;
  margin-right: 1em; 
}

body {
  font: 16px/1.5 'roboto regular';
  background-color: var(--dark-color);
}

#BestMovie {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: var(--light-color);
  border-radius:94% 6% 95% 5% / 10% 80% 20% 90%;   
  padding: 100px;
  border-bottom: 8px solid var(--medium-color);
  border-right: 8px solid var(--medium-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#best-movie-container {
  margin-bottom: 100px;
  margin-top: 100px;
}

h1 img {
  max-height: 35px;
}

#BestMovie {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 50px 50px 100px;
  gap: 20px;
  place-items: center;
  justify-items: center;
  grid-gap: 42px 0px;
}

h2 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  font-family: 'Frontleroy Brown NF Regular';
  font-size: 51px;
  font-weight: normal;
  margin: inherit;
}

#BestMovie #playButton{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

#BestMovie p{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
  text-align: center;
}

#BestMovie img{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  border-radius: 20%;
  border-bottom: 8px solid goldenrod;
  border-right: 8px solid goldenrod;
  width: 232.2px;
  height: 341.28px;
}

.modal-content img{
  border-radius: 20%;
  border-bottom: 8px solid var(--dark-color);
  border-right: 8px solid var(--dark-color);
  width: 232.2px;
  height: 341.28px;
  margin-bottom: inherit;
}

#moreInfosButton{
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;

}

#BestRatedMovies, #BiographyMovies, #ComedyMovies, #Sci-FiMovies {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
}

#BestMovie button {
  font-size: 16px;
  font-weight: 600;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid goldenrod;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  background-color: var(--light-color);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: auto;
  display: flex;
  z-index: 1;
}

#BestMovie button:after {
  content: "";
  background-color: rgb(233, 187, 69);
  border-radius: 3px;
  border: #000;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

#BestMovie button.hide {
  display: none;
}

#BestMovie button:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  #moreInfosButton {
    padding: 13px 50px 13px;
  }
}

.movie-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  scroll-snap-type: x mandatory;
  scroll-padding: 1rem;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.movies {
  overflow: hidden;
}

.movie-container img {
  flex: 0 0 auto;
  margin-left: 10px;
  margin-right: 10px;
  width: 215px;
}

.movie-container::-webkit-scrollbar {
  display: none;
  border-radius: 2%;
}

.arrow {
  border: solid var(--light-color);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 8px;
  margin: 20px;
  box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 0.20);
  cursor: pointer;
  
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}


.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }


.modal-content {
    background-color: var(--light-color);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    border-radius: 25px;
    text-align: center;
  }
  
#myModal {
    z-index: 1000;
  }

#myModal .modal-content p span {
    text-decoration: underline;
    font-family: 'roboto thin';
    font-weight: 600;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
